.moving-border-wrapper-container {
  position: relative;
  display: inline-block;
  padding: 16px;
  border-radius: 50px;
  background-color: #111e35;
  overflow: hidden;
  min-height: 100px; 
  min-width: 200px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.moving-border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: #00b0ff;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 8px; 
}
