.text{
    pointer-events: none;
    color:rgb(26, 105, 209) ;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 100;
    backdrop-filter: blur(90%);
    background-color: rgba(230, 234, 238, 0.5);
    /* If you want to add a border, specify the correct border syntax */
    /* Example: border: 2px solid rgba(230, 234, 238, 0.5); */
  }