.cardContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    color:black;



    .ourServicesContainer {
      text-align: center;
      padding: 100px 20px;
      color:white;
      
    }
    
    .ourServicesHeading {
      font-size: 6rem; 
      font-weight: bold;
      margin-bottom: 20px;
      font-family: Day;
    }
    
    .arrowIcon {
      margin-top: 20px;
      // You can further customize the size and style of the arrow as needed
    }




    .card{
      display: flex;
      flex-direction: column;
      position: relative;
      top: -25%;
      height: 600px;
      width: 90vw;
      border-radius: 50px;
      padding:50px;
      transform-origin: top;
      box-shadow: 5px 5px 20px 5px #000000;
      h2{
        text-align: center;
        margin: 0px;
        font-size: 28px;
      }
      .title{
        font-size: 4rem;
        font-weight: bold;
      }
      .body{
        display: flex;
        height: 100%;
        margin-top: 50px;
        gap: 50px;
  
        .description{
          width: 40%;
          position: relative;
          top: 10%;
          p{
            font-size: 16px;
            &::first-letter{
              font-size: 28px;
              font-family: 'Day';
            }
          }
          span{
            display: flex;
            align-items: center;
            gap: 5px;
            a{
              font-size: 12px;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
  
        .imageContainer{
          position: relative;
          width: 60%;
          height: 100%;
          border-radius: 25px;
          overflow: hidden;
          .inner{
            width: 100%;
            height: 100%;
          }
          img{
            object-fit: cover;
          }
        }
      }
    }
  }