.preloaderContainer {
  /* position: fixed;
  top: 0;
  left: 0; */
  position: absolute;
  width: 100%;
  height: 100vh;
  height: 100dvh; /* Dynamic viewport height for mobile */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 50;
  padding: 1%;
}

.preloaderSvg {
  width: 100vw;
  height: auto;
  /* max-height: 80vh;
  max-height: 80dvh; */
  aspect-ratio: 4/3;
}

.preloaderPath {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: drawPath 2s ease-in-out forwards;
  
  
}


/* Responsive adjustments */
@media (max-width: 640px) {
  .preloaderSvg {
    aspect-ratio: 3/4;
  }
}

@media (min-width: 1024px) {
  .preloaderSvg {
    max-width: 100vw;
  }
}

/*
@keyframes drawPath {
  0% {
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
  }
} */

@keyframes drawPath {
  0% {
    stroke-dashoffset: 2000;
    animation-timing-function: ease-in;
  }
  50% {
    stroke-dashoffset: 1600;
    animation-timing-function: linear; 
  }
  100% {
    stroke-dashoffset: 0;
    animation-timing-function: ease-in-out;
  } }

