@import "../../styles/helpers.scss";

.section {
  height: 800vh;
  position: relative;
  z-index: 1;
  font-family: Day;
}

.pinned {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  color: rgb(209, 60, 15);
  --svg-width: #{tovw(800px)};
  --right: calc(50vw - var(--svg-width) / 3);
  justify-content: center; /* Center the content horizontally */
}

.animated {
  height: 100vh;
  position: absolute;
  right: tovw(100px);
  display: flex;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  font-weight: 900;
  font-size: tovw(500px);
  cursor: default;
  user-select: none;
}

.worldSvg {
  width: var(--svg-width, 100%);
  height: auto; /* Maintain aspect ratio */
  display: flex; /* Prevent inline SVG collapsing */
  inset: 0;
  right: 0;
  mix-blend-mode: color-dodge;
}
